# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# python==3.8.10
PyQt5
turtle==0.0.1
numpy
scipy
matplotlib
libproj
libgeos
shapely
pyshp
cartopy==0.19.0.post1
pandas
